* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient( 135deg, #F6D242 10%, #FF52E5 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    width: 450px;
    margin: 150px auto;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: white;
    margin-bottom: 20px;
}

form {
    display: flex;
}

form input,
.add-btn {
    font-size: 16px;
    padding: 10px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

form input {
    width: 100%;
}

button {
    width: 35px;
}

.add-btn {
    background-color: white;
    color: #FF52E5;
}

.add-btn:hover {
    color: white;
    background-color: #FF52E5;
}

.operation {
    display: flex;
    justify-content: space-between;
}

.clear {
    width: 70px;
    background-color: transparent;
    border: 1px solid white;
}

span {
    font-size: 16px;
    flex-grow: 1;
    margin-left: 10px;
}

ul {
    list-style: none;
}

ul li {
    width: 100%;
    margin: 10px 0;
    padding: 0 0 0 10px;
    background-color: white;
    align-items: center;
}

li button {
    padding: 10px;
    color: white;
    background-color: #FF52E5;
    border: none;
    justify-self: end;
}

li button:hover {
    color: #FF52E5;
    background-color: white;
}

.finished {
    opacity: 0.7;
}

.finished span {
    text-decoration: line-through;
}

input[type="checkbox"] {
    zoom: 1.5;
}

input[type="radio"] {
    margin-right: 5px;
}